################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tote/Business/bin
/Tote/Common/bin
/Tote/Data/bin
/Tote/Dependencies/bin
/Tote/Tote/bin
/Tote/Logs/LogWeb.log
/Tote/Tote.App.Business.Test/bin
/Tote/Tote.App.Data.Test/bin
/Tote/Tote.Service.Contracts.Test/bin
/Tote/Service/bin
/Tote/Service.Contracts/bin