@model List<Common.Models.Bet>
@{
    Layout = @"\Views\MasterView.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Navigation</title>
</head>
<body>
    <div id="list">
    @foreach (var bet in Model)
    {
        @Html.RouteLink(bet.Match.Teams[0].Name.ToString()+" ("+bet.Match.Teams[0].Country.Name+")"
       +" vs "+ bet.Match.Teams[1].Name.ToString()+"("+bet.Match.Teams[1].Country.Name+")"+" by "+bet.Match.Date.ToString(), new
   {
       controller = "Navigation",
       action = "Bet",
       id = bet.BetId
   }, new
   {
       @class = "btn btn-block btn-default btn-lg"

   })
    }
    </div>
</body>
</html>





