@model List<Common.Models.Match>


<div id="list">
    @foreach (var match in Model)
    {
        @Html.RouteLink(match.Teams[0].Name.ToString() + " (" + match.Teams[0].Country.Name + ")"
       + " vs " + match.Teams[1].Name.ToString() + "(" + match.Teams[1].Country.Name + ")" + " by " + match.Date.ToString(), new
       {
           controller = "Navigation",
           action = "Bet",
           id = match.MatchId
       }, new
       {
           @class = "btn btn-block btn-default btn-lg"

       })
    }
</div>