
@{
    ViewBag.Title = "InfoDB";
    Layout = "~/Views/LayoutView.cshtml";
}

<h2>InfoDB</h2>


    <div>
        There is no information in the database. Please, contact your administrator.
    </div>




