
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Information about Error</title>
</head>
<body>
    <div>
        There is no connection to the database. Please, contact your administrator.
    </div>
</body>
</html>

