@model IEnumerable<Common.Models.Tournament>

@{
    ViewBag.Title = "ShowTournamentsByTeam";
    Layout = "~/Views/LayoutView.cshtml";
}

<h2>ShowTournamentsByTeam</h2>

<p>
    @Html.ActionLink("Add Tournament", "AddTournamentForTeam", new { id = ViewBag.Team.TeamId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>                      
            @Html.ActionLink("Delete Tournament", "DeleteTournamentForTeam", new {teamId= ViewBag.Team.TeamId, tournamentId =item.TournamentId })
        </td>
    </tr>
}

</table>
