@model Common.Models.Match

<div class="form-group" id="tournamentId">
    @Html.Label("Tournament", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.TournamentId, ViewBag.Tournaments as SelectList, new { @class = "form-control", onchange = "TournamentChange()" })
        @Html.ValidationMessageFor(model => model.TournamentId, "", new { @class = "text-danger" })
    </div>
</div>